# Only for Docker Deployment

BOT_TOKEN=7708654103:AAHMDOsF7QM5E1PN-pBaIDo-Gwuf6jl6xgA # Get it from @botfather

API_ID=29177249

API_HASH=f1c8d021f35a8a0391325bda480e30ad

SESSION_STRING=BQGOk7oAcpTtSbnDkyX-B6GDaOs9CDQEQ7oO5PqjsF8s6Iieqj1bKsZW68L69JbOVyTNSoQiOEp4M023sfwK-wylbN1Tj20EOlOPLzxrQXbRUn2df-tYzlz1JqzgAShpaX9QsUxUWxkLZYbnYP536B-XQ5M54N8WMYlhz1XqVLzR30ObYfXQOklCxFMXRXVuZsJHDR0iJB0dToOWLgpA9jn-BrvnIuvIG95cOEZWlFbCs02GutNwM-CPT7rU5SaWRCjTRpWFWBXp5qx0CIa4bvs1cgD_JYcWbtPSDXP1smYAN2Ayg07FDealj9FdLA38kYnu8F2qI26H419x3gR8BXaB0uqQYgAAAAHja0KYAA  # Check Readme to generate sessions

USERBOT_PREFIX=SharkToonsIndia

SUDO_USERS_ID=6066102279, 5574593875 # Sudo users have full access to everythin, don't trust anyone

LOG_GROUP_ID=-1002337988665

GBAN_LOG_GROUP_ID=-1002337988665

MESSAGE_DUMP_CHAT=-1002368843413

WELCOME_DELAY_KICK_SEC=30 # Edit if u want

MONGO_URL=mongodb+srv://sharku:zKKosLfBvResoqhF@cluster0.jped6.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

ARQ_API_URL=https://arq.hamker.dev # Leave it like this

ARQ_API_KEY=KHFPKG-GLIVXH-QSQFXP-QCBCHC-ARQ # Get it from @ARQRobot

LOG_MENTIONS=1 # Make it 1 if you want to enable it

RSS_DELAY=300 # In seconds

PM_PERMIT=1 # fill 0 to disable it
